@tailwind base;

@layer base {
  :root {
    --background: theme(colors.white);
    --body: theme(colors.slate.50);
    --border: theme(colors.slate.200);
    --muted: theme(colors.slate.50);
    --foreground: #8f91a1;
    --foreground-muted: #f7f7fc;
    --inactive: #dadbe8;
    --destructive: #db4e66;
  }
}
