@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

.font-kaisei {
  font-family: "Kaisei Tokumin", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.2px;
}
