@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :where([data-sonner-toast]) :where([data-icon]) {
    margin-right: 0px !important;
    width: fit-content !important;
    height: fit-content !important;
  }

  #book-session-drawer::-webkit-scrollbar {
    display: none;
  }

  #book-session-drawer {
    -ms-overflow-style: none;
  }
}
